<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookLibWeb</display-name>

  <servlet>
    <servlet-name>tehui</servlet-name>
    <servlet-class>logic.book.tehui</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tehui</servlet-name>
    <url-pattern>/logic/book/tehui</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllComments</servlet-name>
    <servlet-class>logic.book.getAllComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllComments</servlet-name>
    <url-pattern>/logic/book/getAllComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllBooks</servlet-name>
    <servlet-class>logic.book.getAllBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllBooks</servlet-name>
    <url-pattern>/logic/book/getAllBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fraviteBooks</servlet-name>
    <servlet-class>logic.book.fraviteBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fraviteBooks</servlet-name>
    <url-pattern>/logic/book/fraviteBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteFrvaite</servlet-name>
    <servlet-class>logic.book.deleteFrvaite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFrvaite</servlet-name>
    <url-pattern>/logic/book/deleteFrvaite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changxiao</servlet-name>
    <servlet-class>logic.book.changxiao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changxiao</servlet-name>
    <url-pattern>/logic/book/changxiao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>booksByType</servlet-name>
    <servlet-class>logic.book.booksByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>booksByType</servlet-name>
    <url-pattern>/logic/book/booksByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addFravite</servlet-name>
    <servlet-class>logic.book.addFravite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFravite</servlet-name>
    <url-pattern>/logic/book/addFravite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBookTypes</servlet-name>
    <servlet-class>logic.book.getBookTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookTypes</servlet-name>
    <url-pattern>/logic/book/getBookTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBook</servlet-name>
    <servlet-class>logic.book.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/logic/book/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAddress</servlet-name>
    <servlet-class>logic.addr.addAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAddress</servlet-name>
    <url-pattern>/logic/addr/addAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delAddress</servlet-name>
    <servlet-class>logic.addr.delAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delAddress</servlet-name>
    <url-pattern>/logic/addr/delAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editAddress</servlet-name>
    <servlet-class>logic.addr.editAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAddress</servlet-name>
    <url-pattern>/logic/addr/editAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAddressList</servlet-name>
    <servlet-class>logic.addr.getAddressList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAddressList</servlet-name>
    <url-pattern>/logic/addr/getAddressList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAuthSms</servlet-name>
    <servlet-class>logic.user.getAuthSms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAuthSms</servlet-name>
    <url-pattern>/logic/user/getAuthSms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyPasswd</servlet-name>
    <servlet-class>logic.user.modifyPasswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyPasswd</servlet-name>
    <url-pattern>/logic/user/modifyPasswd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editHeadPic</servlet-name>
    <servlet-class>logic.user.editHeadPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editHeadPic</servlet-name>
    <url-pattern>/logic/user/editHeadPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getInfo</servlet-name>
    <servlet-class>logic.user.getInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getInfo</servlet-name>
    <url-pattern>/logic/user/getInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getSmsCode</servlet-name>
    <servlet-class>logic.sms.getSmsCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSmsCode</servlet-name>
    <url-pattern>/logic/sms/getSmsCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sms</servlet-name>
    <servlet-class>logic.login.sms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sms</servlet-name>
    <url-pattern>/logic/login/sms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>passwd</servlet-name>
    <servlet-class>logic.login.passwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwd</servlet-name>
    <url-pattern>/logic/login/passwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>logic.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/logic/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findback</servlet-name>
    <servlet-class>logic.findback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findback</servlet-name>
    <url-pattern>/logic/findback</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>